.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.card {
    margin: 10px;
    width: 250px;
}

.card:hover {
    background-color: #EEEEEE;
    border-width: 2px;
    cursor: pointer;
}