.products {
    display: flex;
    flex-direction: row;
}

.details {
    flex-grow: 1;
}

.prices {
    font-size: x-large;
    vertical-align: top;
}

.prices .oldPrice {
    font-size: medium;
}

.products img {
    max-width: 50%;
}

@media screen and (max-width: 600px ) {
    .products img {
        max-width: 100%;
    }

    .products {
        flex-direction: column;
    }
}